.cube-container {
	@include size(0);
	perspective: 1500px;
	position: fixed;
	left: -10%;
	top: -10%;
	z-index: 9;

	&.animated {
		animation: cubeMove 3s linear 1 forwards;
	}
}

@keyframes cubeMove {
	0% {
		left: -10%;
		top: -10%;
	}
	40% {
		left: 30%;
		top: 95%;
	}
	70% {
		left: 70%;
		top: 70%;
	}
	80% {
		left: 85%;
		top: 80%;
	}
	90% {
		left: 100%;
		top: 90%;
	}
	100% {
		left: 110%;
		top: 95%;
	}
}

$cubeHalfWidth: 35px;

.cube {
	position: relative;
	transform-style: preserve-3d;
	perspective-origin: 150% 150%;
	backface-visibility: visible;
	animation: cube-anim 10s linear infinite;

	&__edge {
		@include size(70px);
		position: absolute;
		background: #fff;
		border: 1px solid $black;
	}

	&__front {
		transform: translateZ($cubeHalfWidth);
	}

	&__back {
		transform: translateZ(-$cubeHalfWidth);
	}

	&__top {
		transform: rotateX(90deg) translateZ($cubeHalfWidth);
	}

	&__bottom {
		transform: rotateX(90deg) translateZ(-$cubeHalfWidth);
	}

	&__left {
		transform: rotateY(90deg) translateZ(-$cubeHalfWidth);
	}

	&__right {
		transform: rotateY(90deg) translateZ($cubeHalfWidth);
	}

	@keyframes cube-anim {
		100% {
			transform: rotateX(720deg) rotateY(360deg) rotateZ(360deg)
		}
	}

	// Dots
	&__one {
		&::before {
			@extend .dot;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	&__two {
		&::before {
			@extend .dot;
			left: 15%;
			bottom: 15%;
		}
		&::after {
			@extend .dot;
			right: 15%;
			top: 15%;
		}
	}

	&__four {
		&::before {
			@extend .dot;
			left: 15%;
			top: 15%;
		}
		&::after {
			@extend .dot;
			right: 15%;
			bottom: 15%;
		}
	}

	&__six {
		&::before, &::after {
			@extend .dot;
			top: 10%;
		}

		&::before { left: 15%; }

		&::after { right: 15%; }

		&--one {
			&::before, &::after { top: 40%; }
		}

		&--two {
			&::before, &::after { top: 70%; }
		}
	}
}

// Class for extend Dots
.dot {
	@include size(20%);
	content: '';
	background: $black;
	border-radius: 50%;
	position: absolute;
}
