.sizer {
	width: 32.5%;

	@media (max-width: $width-sm) {
		width: 50%;
	}
}

.blocks {
	&__img {
		width: 32.5%;
		margin-bottom: 7px;

		@media (max-width: $width-sm) {
			width: 50%;
			margin-bottom: 0;
		}
	}

}

.filters {
	display: flex;
	justify-content: flex-end;
	margin: 15px;

	li {
		margin-left: 15px;
	}
}
